# Research Question
What risk factors are most predictive of diabetes risk?
Target Variable: Diabetes_binary


# Dataset Information
[Go to the ](https://www.kaggle.com/datasets/alexteboul/diabetes-health-indicators-dataset)


# Links
https://archive.ics.uci.edu/dataset/891/cdc+diabetes+health+indicators


https://www.cdc.gov/mmwr/volumes/66/wr/mm6643a2.htm

https://www.cdc.gov/brfss/annual_data/2015/pdf/codebook15_llcp.pdf
https://www.cdc.gov/pcd/issues/2019/19_0109.htm

1. Diabetes_binary
   0 = no diabetes 1 = prediabetes 2 = diabetes

2. HighBP
   0 = no high BP 1 = high BP

3. HighChol
   0 = no high cholesterol 1 = high cholesterol

4. CholCheck
   0 = no cholesterol check in 5 years 1 = yes cholesterol check in 5 years

5. BMI
   Body Mass Index

6. Smoker
   Have you smoked at least 100 cigarettes in your entire life? [Note: 5 packs = 100 cigarettes] 0 = no 1 = yes

7. Stroke
   (Ever told) you had a stroke. 0 = no 1 = yes

8. HeartDiseaseorAttack
   coronary heart disease (CHD) or myocardial infarction (MI) 0 = no 1 = yes

9.  PhysActivity
    physical activity in past 30 days - not including job 0 = no 1 = yes

10. Fruits
    Consume Fruit 1 or more times per day 0 = no 1 = yes

11. Veggies
    Consume Vegetables 1 or more times per day 0 = no 1 = yes

12. HvyAlcoholConsump
    (adult men >=14 drinks per week and adult women>=7 drinks per week) 0 = no 1 = yes

13. AnyHealthcare
    Have any kind of health care coverage, including health insurance, prepaid plans such as HMO, etc. 0 = no 1 = yes

14. NoDocbcCost
    Was there a time in the past 12 months when you needed to see a doctor but could not because of cost? 0 = no 1 = yes

15. GenHlth
    Would you say that in general your health is: scale 1-5 1 = excellent 2 = very good 3 = good 4 = fair 5 = poor

16. MentHlth
    days of poor mental health scale 1-30 days

17. PhysHlth
    physical illness or injury days in past 30 days scale 1-30

18. DiffWalk
    Do you have serious difficulty walking or climbing stairs? 0 = no 1 = yes
    
19. Sex
    0 = female 1 = male

20. Age
    13-level age category (_AGEG5YR see codebook) 1 = 18-24 9 = 60-64 13 = 80 or older

21. Education
    Education level (EDUCA see codebook) scale 1-6 1 = Never attended school or only kindergarten 2 = elementary etc.

22. Income
    Income scale (INCOME2 see codebook) scale 1-8 1 = less than $10,000 5 = less than $35,000 8 = $75,000 or more

In [9]:
import pandas as pd

# Define the path to the csv file
file_path = r'C:\Users\david\OneDrive\Documents\GitHub\Research\CDC_Diabetes Research\diabetes_binary_5050split_health_indicators_BRFSS2015.csv'

# Use pandas to read the csv file
diabetes_data = pd.read_csv(file_path)

diabetes_data.head()

,Diabetes_binary,HighBP,HighChol,CholCheck,BMI,Smoker,Stroke,HeartDiseaseorAttack,PhysActivity,Fruits,...,AnyHealthcare,NoDocbcCost,GenHlth,MentHlth,PhysHlth,DiffWalk,Sex,Age,Education,Income
0,0,1,0,1,26,0,0,0,1,0,...,1,0,3,5,30,0,1,4,6,8
1,0,1,1,1,26,1,1,0,0,1,...,1,0,3,0,0,0,1,12,6,8
2,0,0,0,1,26,0,0,0,1,1,...,1,0,1,0,10,0,1,13,6,8
3,0,1,1,1,28,1,0,0,1,1,...,1,0,3,0,3,0,1,11,6,8
4,0,0,0,1,29,1,0,0,1,1,...,1,0,2,0,0,0,0,8,5,8

In [10]:
# Data Exploration
# Check data types and completeness of each column
data_info = diabetes_data.info()

# Check the distribution of the target variable
target_distribution = diabetes_data['Diabetes_binary'].value_counts(normalize=True)

# Basic statistics for numerical features
basic_stats = diabetes_data.describe()

data_info, target_distribution, basic_stats

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70692 entries, 0 to 70691
Data columns (total 22 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Diabetes_binary       70692 non-null  int64
 1   HighBP                70692 non-null  int64
 2   HighChol              70692 non-null  int64
 3   CholCheck             70692 non-null  int64
 4   BMI                   70692 non-null  int64
 5   Smoker                70692 non-null  int64
 6   Stroke                70692 non-null  int64
 7   HeartDiseaseorAttack  70692 non-null  int64
 8   PhysActivity          70692 non-null  int64
 9   Fruits                70692 non-null  int64
 10  Veggies               70692 non-null  int64
 11  HvyAlcoholConsump     70692 non-null  int64
 12  AnyHealthcare         70692 non-null  int64
 13  NoDocbcCost           70692 non-null  int64
 14  GenHlth               70692 non-null  int64
 15  MentHlth              70692 non-null  int64
 16  PhysHlth              70692 non-null  int64
 17  DiffWalk              70692 non-null  int64
 18  Sex                   70692 non-null  int64
 19  Age                   70692 non-null  int64
 20  Education             70692 non-null  int64
 21  Income                70692 non-null  int64
dtypes: int64(22)
memory usage: 11.9 MB

(None,
 Diabetes_binary
 0    0.5
 1    0.5
 Name: proportion, dtype: float64,
        Diabetes_binary        HighBP      HighChol     CholCheck  \
 count     70692.000000  70692.000000  70692.000000  70692.000000
 mean          0.500000      0.563458      0.525703      0.975259
 std           0.500004      0.495960      0.499342      0.155336
 min           0.000000      0.000000      0.000000      0.000000
 25%           0.000000      0.000000      0.000000      1.000000
 50%           0.500000      1.000000      1.000000      1.000000
 75%           1.000000      1.000000      1.000000      1.000000
 max           1.000000      1.000000      1.000000      1.000000

                 BMI        Smoker        Stroke  HeartDiseaseorAttack  \
 count  70692.000000  70692.000000  70692.000000          70692.000000
 mean      29.856985      0.475273      0.062171              0.147810
 std        7.113954      0.499392      0.241468              0.354914
 min       12.000000      0.000000      0.000000              0.000000
 25%       25.000000      0.000000      0.000000              0.000000
 50%       29.000000      0.000000      0.000000              0.000000
 75%       33.000000      1.000000      0.000000              0.000000
 max       98.000000      1.000000      1.000000              1.000000

        PhysActivity        Fruits  ...  AnyHealthcare   NoDocbcCost  \
 count  70692.000000  70692.000000  ...   70692.000000  70692.000000
 mean       0.703036      0.611795  ...       0.954960      0.093914
 std        0.456924      0.487345  ...       0.207394      0.291712
 min        0.000000      0.000000  ...       0.000000      0.000000
 25%        0.000000      0.000000  ...       1.000000      0.000000
 50%        1.000000      1.000000  ...       1.000000      0.000000
 75%        1.000000      1.000000  ...       1.000000      0.000000
 max        1.000000      1.000000  ...       1.000000      1.000000

             GenHlth      MentHlth      PhysHlth      DiffWalk           Sex  \
 count  70692.000000  70692.000000  70692.000000  70692.000000  70692.000000
 mean       2.837082      3.752037      5.810417      0.252730      0.456997
 std        1.113565      8.155627     10.062261      0.434581      0.498151
 min        1.000000      0.000000      0.000000      0.000000      0.000000
 25%        2.000000      0.000000      0.000000      0.000000      0.000000
 50%        3.000000      0.000000      0.000000      0.000000      0.000000
 75%        4.000000      2.000000      6.000000      1.000000      1.000000
 max        5.000000     30.000000     30.000000      1.000000      1.000000

                 Age     Education        Income
 count  70692.000000  70692.000000  70692.000000
 mean       8.584055      4.920953      5.698311
 std        2.852153      1.029081      2.175196
 min        1.000000      1.000000      1.000000
 25%        7.000000      4.000000      4.000000
 50%        9.000000      5.000000      6.000000
 75%       11.000000      6.000000      8.000000
 max       13.000000      6.000000      8.000000

 [8 rows x 22 columns])